/* add css module styles here (optional) */

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  clear: both;
  border: 1px solid #111;
  border-radius: 10px;
}

thead {
  border-radius: 10px;
  background-color: #570e0e;
  color: white;
}

.th {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
  cursor: pointer;
  text-align: left;
}

.th:nth-child(1) {
  border-top-left-radius: 10px;
}

.th:nth-last-child(1) {
  border-top-right-radius: 10px;
}

.td {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
}

.tr:hover {
  background-color: #ddd;
}

.controlsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paginationButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.arrow {
  font-size: 25px;
  font-weight: bold;
}

.arrow:hover {
  text-decoration: none;
}
