/* add css module styles here (optional) */

.table {
  /* width: 890px; */
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  clear: both;
  border-bottom: 1px solid #111;
}

.th {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

.td {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
}

.controlsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
